.container {
  padding: 3rem;
}

.box {
  height: 30px;
  display: block;
  background-color: thistle;
}

.message-error {
  background-color: tomato;
  color: white;
  opacity: 0;
  transition: all linear .5s;
}

.message-error.show {
  opacity: 1;
}
