<div class="container">
  <h1>mi primer proyecto c:</h1>
  <h2>{{welcome}}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{task}}
    </li>
  </ul>
  <hr />
  <h2>{{'hola'.repeat(4)}}</h2>
  <p>la suma de 3+3 es {{3+3}}</p>
  <p>Soy {{name()}} y mi edad es {{age}}</p>
  <hr />
  <img [src]="img" alt="" />
  <input type="text" [value]="name()" />
  <button [disabled]="disabled">Click me</button>
  <p>cat: {{cat().name}}</p>
  <hr />
  <p>(click)</p>
  <button (click)="clickHandler()">bip bop</button>
  <p>(double click)</p>
  <button (dblclick)="clickHandler()">double me</button>
  <p>(change)</p>
  <input type="number" [value]="cat().age" (change)="changeHandler($event)" />
  <p>(keydown)</p>
  <input type="text" [value]="cat().name" (keydown)="keydownHandler($event)" />
  <p>(keydown shift)</p>
  <input type="text" [value]="cat().name" (keydown.shift.t)="clickHandler()" />

  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>{{name()}}</p>
  <p>{{name()}}</p>
  <p>{{name()}}</p>

  <input type="number" [value]="cat().age" (change)="changeAge($event)" />

  <h2>for: previous syntax</h2>
  <ul>
    <p>total: {{tasks().length}}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{task}}
    </li>
  </ul>

  <h2>for: new syntax</h2>
  <ul>
    @for(task of tasks(); track task; let i = $index){
    <li>{{i}}{{task}}</li>
    } @empty {
    <li><strong>No hay ningún elemento en la lista!</strong></li>
    }
  </ul>
  <hr />

  <h2>if-else previous syntax</h2>
  <!-- if  -->
  <div *ngIf="name() ==='Amanda'">
    Soy Amanda
  </div>
  <!-- if else  -->
  <div *ngIf="cat().name ==='Tomasa' && cat().age > 18; else elseBlock">
    Soy Tomasa y soy mayor de 18.
  </div>
  <ng-template #elseBlock>
    Soy Tomasa y soy menor de 18.
  </ng-template>

  <h2>if-else new syntax</h2>
  <!-- if  -->
  @if (name() ==='Amanda') {
  <div>Soy Amanda</div>
  }
  <!-- if else  -->
  @if (cat().name ==='Draco' && cat().age > 18) {
  <div>
    Soy Draco y soy mayor de 18.
  </div>
  } @else {
  <div>
    Soy Draco y soy menor de 18.
  </div>
  }
  <hr />

  <h2>switch: previous syntax</h2>
  <p>Escribe el nombre de tu michi</p>
  <input type="text" [value]="cat().name" (change)="changeName($event)" />
  <div [ngSwitch]="cat().name">
    <p *ngSwitchCase="'Avellano'">Hola soy Avellano</p>
    <p *ngSwitchCase="'Egg'">Hola soy Draco</p>
    <p *ngSwitchCase="'Michi'">Hola soy Anubis</p>
    <p *ngSwitchDefault>No conozco ese michi!</p>
  </div>

  <h2>switch: new syntax</h2>
  @switch (cat().name) {
    @case('Avellano') {
     <p>Hola soy Avellano</p>
    }
    @case('Egg') {
     <p>Hola soy Draco</p>
    }
    @case('Michi') {
      <p>Hola soy Anubis</p>
    }
    @default {
      <p>Michi no identificado</p>
    }
  }

  <hr />
  <input type="color" [formControl]="colorCtrl" />
  <p>color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <hr />

  <input type="number" [formControl]="widthCtrl" />
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />

  <p>
    <input type="text" [formControl]="nameCtrl" /> <br />
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">
      Nombre incorrecto
    </span>
  </p>
  <p>
    <input type="text" />
  </p>
</div>
